/share/
/obj/
/Cache/
/res/
/cglauncher/instances/
/cglauncher/share/
/cglauncher/tmp/
/cglauncher/global/
/cglauncher/obj/
/cglauncher/launcher.options
*.log
data.txt
profile_1.txt
highscore.txt
*.cscope_file_list
*.depend
*.layout
*.save-failed
*.cbp
*.ini
*.exe
*.bat