1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041504E4"
        {
            VALUE "CompanyName", "Sppmacd"
            VALUE "FileDescription", "Car Destroyer"
            VALUE "FileVersion", "0.1"
            VALUE "InternalName", "cg.exe"
            VALUE "LegalCopyright", "Copyright (C) 2018"
            VALUE "OriginalFilename", "cg.exe"
            VALUE "ProductName", "Car Destroyer"
            VALUE "ProductVersion", "0.1"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0415, 1252
    }
}
