200 ICON "../res/icon_cg.ico"
201 ICON "../res/logo.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 0,1,1,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "SITS Gamedev"
            VALUE "FileDescription", "Car Game Launcher"
            VALUE "FileVersion", "v1.0"
            VALUE "InternalName", "cglauncher.exe"
            VALUE "LegalCopyright", "SITS Gamedev (c) 2019-2020"
            VALUE "OriginalFilename", "cglauncher.exe"
            VALUE "ProductName", "CG - Car Game"
            VALUE "ProductVersion", "beta 0.1.1"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
