#include "version.hpp"

1 VERSIONINFO
FILEVERSION CG_VERSION_NO
PRODUCTVERSION CG_VERSION_NO
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Sppmacd"
            VALUE "FileDescription", "Car Game"
            VALUE "FileVersion", CG_VERSION
            VALUE "InternalName", "cg.exe"
            VALUE "LegalCopyright", "Sppmacd 2018-2019"
            VALUE "OriginalFilename", "cg.exe"
            VALUE "ProductName", "CG - Car Game"
            VALUE "ProductVersion", CG_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
