#define CG_VERSION_NO   0,2,0,0
#define CG_VERSION_STABLE "0.2"

1 VERSIONINFO
FILEVERSION CG_VERSION_NO
PRODUCTVERSION CG_VERSION_NO
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "SITS Gamedev"
            VALUE "FileDescription", "Car Game"
            VALUE "FileVersion", CG_VERSION_STABLE
            VALUE "InternalName", "cg.exe"
            VALUE "LegalCopyright", "SITS Gamedev 2018-2019"
            VALUE "OriginalFilename", "cg.exe"
            VALUE "ProductName", "CG - Car Game"
            VALUE "ProductVersion", CG_VERSION_STABLE
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
